@import "tailwindcss";

@theme {
  --font-display: "Roboto", sans-serif;
  --color-primary: hsl(4, 100%, 67%);
  --color-neutral-blue-800: hsl(234, 29%, 20%);
  --color-neutral-blue-700: hsl(235, 18%, 26%);
  --color-neutral-grey: hsl(0, 0%, 58%);
  --color-neutral-white: hsl(0, 0%, 100%);
}
